<br>
<div id="container">
    <div style="margin-bottom: 20px;">
        <button onclick="tab()">Ver tablas en ventana emergente</button>
    </div>
    <table>
        <tr class="thead">
            <td colspan="4">Categorías</td>
        </tr>
        <tr class="thead2">
            <td colspan="1">ID</td>
            <td colspan="1">Categoría</td>
        </tr>
        {{#each categorias}}
        <tr>
            <td style="cursor: pointer;" onClick="document.location.href='/admin/eliminar_categoria/{{Id_Categoria}}';">
                {{Id_Categoria}}</td>
            <td>{{Nombre}}</td>
        </tr>
        {{/each}}
        <tr class="spacer">
            <td colspan="4">&nbsp;</td>
        </tr>
        <tr class="thead">
            <td colspan="4">Editoriales</td>
        </tr>
        <tr class="thead2">
            <td colspan="1">ID</td>
            <td colspan="1">Editorial</td>
        </tr>
        {{#each editoriales}}
        <tr>
            <td style="cursor: pointer;" onClick="document.location.href='/admin/eliminar_editorial/{{Id_Editorial}}';">
                {{Id_Editorial}}</td>
            <td>{{Nombre}}</td>
        </tr>
        {{/each}}
        <tr class="spacer">
            <td colspan="4">&nbsp;</td>
        </tr>
        <tr class="thead">
            <td colspan="4">Autores</td>
        </tr>
        <tr class="thead2">
            <td colspan="1">ID</td>
            <td colspan="1">Autor</td>
        </tr>
        {{#each autores}}
        <tr>
            <td style="cursor: pointer;" onClick="document.location.href='/admin/eliminar_autor/{{Id_Autor}}';">
                {{Id_Autor}}</td>
            <td>{{Nombre}}</td>
        </tr>
        {{/each}}
    </table>
</div>
<script>
    function tab() {
        var myWindow = window.open("/admin/tablas", "MsgWindow", "width=900,height=720");
    }
</script>