<div class="container">
    <div class="items">
        {{#each libros}}
        <div class="product">
            {{#checklength Nombre 45}}
            <h3 class="tooltip">{{#subStr Nombre}}{{/subStr}}...
                <span class="tooltiptext tooltip-bottom">{{Nombre}}</span>
            </h3>

            {{else}}
            <h3> {{Nombre}} </h3>
            {{/checklength}}
            <div>
                <img src="{{Imagen}}" style="width:200; height:240px;" alt="#">
            </div>
            <div class="price">
                <span>${{Precio}}</span>
                <div class="form-items">
                    <form id="carritoform" method="POST" action="/agregar_a_carrito">
                        <input type="text" name="cantidad" value="1">
                        <input type="hidden" name="id" value={{Id_Libro}}>
                        <input type="submit" class="item-select" value="Agregar al carrito">
                    </form>
                </div>
            </div>
        </div>
        {{else}}
        <div class="error">
            No se encontraron coincidencias. Intente de nuevo.
        </div>
        {{/each}}
    </div>
    {{#if pages}}
    <div class="pagination">
        <a href="#">&laquo;</a>
        {{#each pages}}
        {{#ifEquals this ../pag}}
        <a class="active" href="/libros/?page={{this}}">{{this}}</a>
        {{else}}
        <a href="/libros/?page={{this}}">{{this}}</a>
        {{/ifEquals}}
        {{/each}}
        <a href="#">&raquo;</a>
    </div>
    {{/if}}
</div>