<div class="container">
    <hr>
    <div class="row">
        <!-- Product  -->
        {{#each libros}}
        <div class="col-md-3 product-grid">
            <div class="image">
                <a href="/libro/{{Id_Libro}}">
                    <img src={{Imagen}} class="w-100 h-50">
                    <div class="overlay">
                        <div class="detail">Ver detalles</div>
                    </div>
                </a>
            </div>
            <h5 class="text-center">{{Nombre}}</h5>
            <h5 class="text-center">Precio: ${{Precio}}</h5>
            <form method="POST" action="/carrito/agregarlibro">
                <input type="hidden" name="cantidad" value="1">
                <input type="hidden" name="id" value={{Id_Libro}}>
                <button class="btn buy">AGREGAR AL CARRITO</a>
            </form>
        </div>
        {{/each}}
    </div>
    <nav aria-label="..." style="margin-top: 2%;">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="{{curr_page}}/?page={{prev}}" tabindex="-1">Anterior</a>
            </li>
            {{#each pages}}
            {{#ifEquals this ../pag}}
            <li class="page-item active"><a class="page-link" href="{{../curr_page}}/?page={{this}}">{{this}}</a></li>
            {{else}}
            <li class="page-item"><a class="page-link" href="{{../curr_page}}/?page={{this}}">{{this}}</a></li>
            {{/ifEquals}}
            {{/each}}
            <li class="page-item">
                <a class="page-link" href="{{curr_page}}/?page={{next}}">Siguiente</a>
            </li>
        </ul>
    </nav>
</div>