<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>L Library</title>
    {{#if bootstrap}}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    {{/if}}
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/alertmsg.css">
    <link rel="stylesheet" href="/css/exito.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{#if style}}
    <link rel="stylesheet" href="/css/{{style}}">
    {{/if}}
</head>

<body>
    <div id="page-container">
        <div class="social-bar">
            <a href="https://facebook.com" class="icono icono-facebook" target="_blank"></a>
            <a href="https://twitter.com" class="icono icono-twitter" target="_blank"></a>
            <a href="https://youtube.com" class="icono icono-youtube" target="_blank"></a>
            <a href="https://instagram.com" class="icono icono-instagram" target="_blank"></a>
        </div>
        <div id="content-wrap">
            {{#if user}}
            <div class="form-popup" id="myForm">
                <form class="form-container">
                    <button type="button" class="btn" onclick="window.location='/micuenta'">Mi cuenta</button>
                    <button type="button" class="btn" onclick="window.location='/salir'">Cerrar sessión</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Cerrar</button>
                </form>
            </div>
            {{else}}
            <div class="form-popup" id="myForm">
                <form action="/login" class="form-container" method="POST">
                    <h1>Inicia sesión</h1>
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Nombre de usuario" name="username" required>
                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                    <button type="submit" class="btn">Iniciar sesión</button>
                    <button type="button" class="btn" onclick="window.location='/registrar'">Registrarse</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Cerrar</button>
                </form>
            </div>
            {{/if}}
            <div class="topnav">
                <a class="item" href="/">Inicio</a>
                <a class="item" href="/libros">Libros</a>
                <a class="item" href="/categorias">Categorías</a>
                <a class="item" href="/autores">Autores</a>
                <a class="item" href="/editoriales">Editoriales</a>
                {{#if user}}
                <a style="float: right" onclick="openForm()"><i class="fa fa-user" aria-hidden="true"
                        style="cursor: pointer;"> Hola,
                        {{user.Username}}</i></a>
                {{else}}
                <a style="float:right" onclick="openForm()"><i class="fa fa-user" aria-hidden="true"
                        style="cursor: pointer;"></i></a>
                {{/if}}
                <a href="/carrito" style="float:right"><i class="fa fa-shopping-cart" aria-hidden="true"
                        style="cursor: pointer;"></i></a>
                {{#ifEquals user.Username "admin" }}
                <a style="float:right" href="/admin"><i class="fa fa-cogs"></i></a>
                {{/ifEquals}}
                <div class="search-container">
                    <form action="/buscar" method="POST">
                        <input type="text" placeholder="Buscar..." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            {{>exito}}
            {{>error}}
            {{{ body }}}
        </div>

    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    {{>select}}
    {{#if bootstrap}}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {{/if}}
    <script type="text/javascript" src="//js.stripe.com/v2/"></script>
    <script type="text/javascript" src="/js/pago.js"></script>
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>
</body>

</html>